<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/products.css" />

<body>
  <div class="products-container">
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin/">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/product/all">Menu</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="restaurant-menu-frame">
      <div class="board">
        <div class="dishes-table">
          <span class="new-dish-txt" style="margin-bottom: 30px">
            RESTAURANT MENU
          </span>
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">T/r</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Type</th>
                <th scope="col">Product Volume</th>
                <th scope="col">Product Price</th>
                <th scope="col">Product Left Count</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <!--  LOOP PRODUCTS: START  -->
            <tbody style="background: white">
              <td>1</td>
              <td>Steak</td>
              <td>Dish</td>
              <td>NORMAL</td>
              <td>11</td>
              <td>100</td>
              <td>
                <select class="spec-select new-product-status">
                  <option value="PAUSE" selected>PAUSE</option>
                  <option value="PROCESS">PROCESS</option>
                  <option value="DELETE">DELETE</option>
                </select>
              </td>
            </tbody>
            <!--  LOOP PRODUCTS: END  -->
          </table>
          <div
            class="long-input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button class="btn btn-primary" id="process-btn">
              New Product
            </button>
          </div>
        </div>
        <form
          action="/admin/product/create"
          method="POST"
          class="dish-container"
          enctype="multipart/form-data"
        >
          <div class="long-input" style="display: flex; align-items: center">
            <span class="new-dish-txt">NEW PRODUCT DETAIL</span>
          </div>
          <div class="login-input-frame">
            <div class="long-input">
              <label>Product Name</label>
              <input
                type="text"
                placeholder="Name"
                name="productName"
                class="product-name"
              />
            </div>
            <input
              name="productStatus"
              value="PAUSE"
              class="product-status"
              hidden
            />
          </div>
          <div class="half-input-frame">
            <div class="half-input">
              <label>Product Price</label>
              <input
                type="number"
                placeholder="Price"
                name="productPrice"
                class="product-price"
              />
            </div>
            <div class="half-input">
              <label>Product Left Counts</label>
              <input
                type="number"
                placeholder="Counts"
                name="productLeftCount"
                class="product-left-count"
              />
            </div>
          </div>
          <div class="half-input-frame">
            <div class="half-input">
              <label>Product Type</label>
              <select class="product-collection" name="productCollection">
                <option value="DISH" selected>Dish</option>
                <option value="SALAD">Salad</option>
                <option value="DESSERT">Dessert</option>
                <option value="DRINK">Drink</option>
                <option value="OTHER">Other</option>
              </select>
            </div>

            <div class="half-input" id="product-collection">
              <label>Dish Volume</label>
              <select class="product-size" name="productSize">
                <option value="SMALL">Small</option>
                <option value="NORMAL" selected>Normal</option>
                <option value="LARGE">Large</option>
                <option value="SET">Set</option>
              </select>
            </div>

            <div class="half-input" id="product-volume" style="display: none">
              <label>Drink Volume</label>
              <select class="product-volume" name="productVolume">
                <option value="0.5">0,5 liters</option>
                <option value="1" selected>1 liters</option>
                <option value="1.2">1,2 liters</option>
                <option value="1.5">1,5 liters</option>
                <option value="2">2 liters</option>
              </select>
            </div>
          </div>
          <div class="long-input">
            <label>Product Description</label>
            <textarea name="productDesc" class="product-desc"></textarea>
          </div>

          <div class="img-frame">
            <label>Product Images</label>
            <div class="media-frame">
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="1" id="image-section-1" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-one"
                  required
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="2" id="image-section-2" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-two"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="3" id="image-section-3" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-three"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="4" id="image-section-4" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-four"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="5" id="image-section-5" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-five"
                />
              </div>
              <input name="restaurantIid" class="restaurant-id" hidden />
            </div>
          </div>

          <div class="operation-buttons">
            <button class="btn btn-danger" id="cancel-btn">Cancel</button>
            <button type="submit" class="btn btn-primary" id="create-btn">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/products.js"></script>
</body>

<%- include('includes/footer') %>
